NODE_ENV=development
API_DOMAIN=localhost
API_PORT=4000

# Mail Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=yourEmailHere@gmail.com
SMTP_PASSWORD=YourPasswordHere
SMTP_FROM=yourEmailHere@gmail.com