NODE_ENV=development
API_DOMAIN=localhost
API_PORT=4000
ALLOWED_ORIGINS=http://localhost:3000
ACCESS_TOKEN_EXPIRATION_TIME=5m
REFRESH_TOKEN_EXPIRATION_TIME=10m

# SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=yourEmailAddressHere
SMTP_PASSWORD=yourGmailAppKeyHere
SMTP_FROM=yourEmailAddressHere

# Database
DATABASE_URL="postgresql://postgres:postgres@pg-database:5432/BackendAPI?schema=public"
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=BackendAPI

# JWT Secret
JWT_PUBLIC_KEY=yourPublicKeyHere
JWT_PRIVATE_KEY=yourPrivateKeyHere

# Bcrypt
BCRYPT_ROUNDS=12